<!DOCTYPE html>
<html ng-app='app'>

<head>
  <meta charset="utf-8">
  <title> Routing </title>
  <script src="angular.js" charset="utf-8"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.js" charset="utf-8"></script>
  <link href="https://fonts.googleapis.com/css?family=Cuprum|Oswald|Slabo+27px" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <script src="app.js" charset="utf-8"></script>
  <style media="screen">
    body {
      font-family: cuprum;
      background-color: #d1d1d1;
    }

    .lefty {
      background-color: #fff;
      border: 2px solid black;
      padding: 5px;
    }

    .righty {
      color: #191919;
      background-color: #fff;
      border: 2px solid red;
    }

    .menu {
      margin-left: 15px;
    }

    #default {
      padding: 50px;
      font-size: 30px;
      color: yellow;
    }
  </style>

</head>

<body>
  <div ng-controller="sample as ss">
    <div class="container">
      <div class="row"><br><br>
        <div class="col-md-9 col-sm-9 ">
          <center>
            <h1>  Hello <span ng-if= "!ss.name_flag" >{{ss.name}}</span></h1> </center>
            <br> <br>
        </div>
        <div class="col-md-3 col-sm-3 ">
          <div ng-show="ss.name_flag">
            <h5>NAME: <input type="text" ng-model="ss.name" placeholder="Enter your name here"></h5>
            <button ng-click="ss.toggle_name_form()">Submit</button>
          </div>
          <span ng-if="!ss.name_flag"> <button ng-click = "ss.toggle_name_form()"> Edit Name</button> </span>

        </div>
      </div>
      <div class="row">
        <div class="col-md-2 col-sm-2 lefty ">
          <div class="menu">
            <a href="#/details"><h3> DETAILS</h3> </a>
            <hr><br>
            <a href="#/profiles/{{ss.name}}"><h3> PROFILES</h3> </a>
            <hr><br>
            <a href="#/messages"><h3> MESSAGES</h3></a>
            <hr><br>
            <a href="#/comments"><h3> COMMENTS  </h3></a>
            <hr><br>
            <a href="#/likes"><h3> LIKES  </h3></a>
            <hr><br>
          </div>
        </div>
        <div class="col-md-1 col-sm-1">
        </div>
        <div class="col-md-9 col-sm-9 righty">
          <center>
            <div ng-view>
              <!--  ng-View-->
            </div>
          </center>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
